footer {
  /* width: 80vw; */
  margin: 100px -10vw 0;
  padding: 40px 18vw 30px;

  background-color: #AAFAC8;
}
footer h2 {
  margin: 0 0 19px;

  font-size: 24px;
  line-height: 31px;
}
.people {
  display: flex;

  margin: 60px auto;

  justify-content: space-between;
}
footer h3 {
  margin: 15px 0 0;
}
footer h3:nth-child(3) {
  margin-top: 5px;
}
.end {
  display: flex;

  margin-top: 45px;

  justify-content: space-between;
  align-items: flex-end;
}
footer img:nth-child(1) {
  width: 110px;
}
footer img:nth-child(2) {
  width: 50px;
}

footer a {
  text-decoration: underline;

  color: black;
}
footer a:checked {
  color: black;
}
footer .info {
  display: flex;
  flex-direction: column;

  height: 50px;
}


@media (max-width: 500px) {
  footer {
    width: 66vw;
    padding: 42px 17vw 30px;
  }
  footer h2 {
    margin-bottom: 20px;

    font-size: 17px;
  }
  .people {
    flex-direction: column;

    width: auto;
    margin: 40px 0;
  }
  .curators {
    margin-top: 32px;
  }
  footer h3 {
    margin: 15px 0 0;

    font-weight: 400;
  }
  .end {
    flex-direction: column-reverse;

    align-items: flex-start;
  }
  footer .info {
    margin-top: 20px;
  }
}
