body {
  font-family: 'PT Sans', sans-serif;
}
header.page {
  position: relative;
}

main.page {
  margin-top: 100px;
}
p.p {
  width: 100%;

  color: rgba(0, 0, 0, 1);
}
.one p + p {
  margin-top: 60px;
}
.photo {
  height: 500px;
}
.icons {
  display: flex;

  width: 45%;
  margin-top: 60px;

  justify-content: space-between;
}
.icons img {
  width: 9vw;
  height: 6vw;
}
.one {
  grid-column: 1;
}
.hall {
  width: 28.4vw;
  /* padding-left: 10vw; */

  background-image: url("materials/my_photo.jpg");
  background-position-y: -3vw;

  grid-column: 2/4;
}
.two {
  /* grid-column: 3; */
}
.three {

}
.four {

}
