header {
  width: 100vw;
  height: 35vh;
  margin-bottom: 5vw;
}
header p {
  width: 65vw;
  padding-top: 50px;
}

.h {
  position: relative;

  margin-top: 20vw;
}
.h h2 {
  position: absolute;
  top: -5vw;

  font-size: 4vw;
  font-weight: 200;
}

h1 {
  font-size: 11.2vw;
  font-weight: 700;
}
h2 {
  font-size: 42px;
  font-weight: 700;
}

main {
  display: grid;

  width: 80vw;

  grid-template-columns: repeat(6,1fr);
  grid-column-gap: 20px;
}
article {
  position: relative;

  margin: 80px auto 0;

  background: rgb(255, 255, 255);
  box-shadow: 0 1px 4px rgba(0,0,0,0.1);
}
h2 {
  font-size: 26px;
  font-weight: 700;
}
article a {
  display: flex;

  width: 50%;
  margin-top: 24px;

  text-decoration: none;

  color: rgba(0, 0, 0, 0.5);

  font-size: 22px;

  align-items: center;
}
article a:hover {
  /* text-decoration: underline; */
  color: rgba(0, 0, 0, 1)
}
article a:visited, a:active {
  text-decoration: none;

  color: inherit;
}
a span {
  margin: 3px 0 0 10px;

  transition: all 0.5s ease;

  opacity: 0.7;
}
a:hover span {
  margin-left: 20px;

  opacity: 1;
}
p {
  margin-top: 23px;

  color: rgba(0, 0, 0, 0.5);

  font-size: 16px;
  line-height: 25px;
}
.content {
  padding: 30px 30px 50px;

  transition: all 0.5s ease;
}
.divs2 {
  position: absolute;
  left: -350px;
}
.r {
  left: 530px;
}

.grupp {
  display: flex;

  width: 80vw;
  margin: 0 auto;
}
.grupp article {
  width: 33vw;
}
.grupp .photo {
  height: 16vw;
}
.grupp article p {
  width: 90%;
}
.photo {
  width: 100%;
  height: 300px;
  /* margin: -30px 0 40px -30px; */
  /* padding: 30px; */

  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.me {
  grid-column: 1/5;
}
.b18 {
  grid-column: 5/7;
}
.shop {
  grid-column: 1/3;
}
.project {
  grid-column: 3/5;
}
.diary {
  grid-column: 5/7;
}
.posters {
  grid-column: 1/3;
}
.web {
  grid-column: 3/7;
}
.modelling {
  grid-column: 1/3;
}
.book {
  grid-column: 3/5;
}
.webA {
  grid-column: 5/7;
}
.demeter {
  grid-column: 1/3;
}
.portfolio {
  grid-column: 3/7;
}
